@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "roboto", Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}



.overlay-img:hover .overlay {
  height: unset;
  padding: 8px 0;
}


.hero> h2{
  user-select: none;
}

select:invalid { color: rgb(190, 190, 190); }


.hero-container{
height: 60vh;
}

.react-select__control{
  border: none !important;
  margin: 0px !important;
  box-shadow: none  !important;
  background: none !important;
}

.grad-bg{
background: #DA627D;
background: radial-gradient(at right top, #DA627D, #9A348E);
color: #ffffff !important;

}

.grad-text{
  font-family: 'merienda';
  font-weight: 1000;
  background: radial-gradient(at right top, #DA627D, #9A348E);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  }

  .grad-border{
    border-color: #9A348E;
    color: #9A348E;
    background: radial-gradient(at right top, #DA627D, #9A348E);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all ease-in-out;
    transition-duration: 300ms;
  }
  
  .grad-border:hover{
    background: radial-gradient(at right top, #DA627D, #9A348E);
    -webkit-text-fill-color: #f0f0f0;
    color: #f0f0f0;
  }

  h1, h2, h3, h4, h5{
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-size: 2.5rem;
  }