@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "roboto-regular", Arial, Helvetica, sans-serif;
}



.overlay-img:hover .overlay {
  height: unset;
  padding: 8px 0;
}

.hero> h2{
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  user-select: none;
}

select:invalid { color: rgb(190, 190, 190); }


.hero-container{
height: 50vh;
}